/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Montserrat';

  src: url('assets/fonts/static/Montserrat-Medium.ttf') format('monts'),
       url('assets/fonts/Montserrat-VariableFont_wght.ttf') format('monts2');

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/fonts/static/Montserrat-Bold.ttf') format('monts-bold');
  font-weight: 700;
  font-style: normal;
}
