/* --- 6. HERO BANNER & SLIDER --- */
.hero-banner {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.hero-slider-track {
  display: flex;
  width: 400%;
  height: 100%;
  z-index: 1;
  animation: slide-hero 20s infinite ease-in-out;
}

.hero-slide {
  width: 25%;
  height: 100%;
  min-width: 25%;
  flex-basis: 25%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes slide-hero {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  45% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  max-width: 900px;
  margin-left: 100px;
  text-align: left;
  padding: 20px;
  color: white;
}

.hero-title {
  font-size: 60px;
  font-weight: bold;
  color: #7ed957;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  text-align: left;
}

.hero-subtitle {
  font-size: 40px;
  font-weight: 400;
  color: #e0e0e0;
  margin-bottom: 50px;
  text-align: left;
}

.hero-cta {
  display: inline-block;
  padding: 15px 35px;
  background-color: #7ed957;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  border: 0.5px solid #000000;
}

.hero-cta:hover {
  background-color: #67c519;
}
